# Here is the list of packages automatically derived by QPT
# you can ignore the dependent packages in the main package and only care about the main package
# For example, you need to install paddlepaddle and pillow, because paddlepaddle relies on pillow, so you only need to install paddlepaddle.
# ---------------------------------------------------------------------
# QPT Home:        https://github.com/GT-ZhangAcer/QPT
# ---------------------------------------------------------------------
# 
# -------------Mainly depends on package analysis results--------------

numpy==1.21.3
opencv_python==4.4.0.46
Pillow==8.4.0
requests==2.22.0
scipy==1.7.1
pywin32==301
pywin32-ctypes==0.2.0
pywinpty==1.1.3
pyqt5==5.15.4

# ----------------------Ignored dependent packages---------------------
#boost==0.1
#bs4==0.0.1
#chaospy==4.3.4
#cma==3.0.3
#cmake==3.21.1.post1
#django-filter==2.4.0
#do-mpc==4.3.1
#faiss-cpu==1.7.1.post2
#fake-useragent==0.1.11
#fastcache==1.1.0
#gurobipy==9.5.0
#interface==2.11.1
#keras==2.4.3
#labelme==4.5.7
#mediapipe==0.8.7.2
#mkl-random==1.2.1
#mock==3.0.5
#motmetrics==1.2.0
#myst-nb==0.12.3
#natsort==7.1.1
#olefile==0.46
#omg-tools==0.1.4
#openpyxl==3.0.9
#paddlepaddle==2.1.1
#paddlepaddle-gpu==2.2.1.post112
#paddlex==1.3.11
#paddle-ernie==0.2.0.dev1
#paramiko==2.8.0
#parl==2.0.1
#pce==0.1.2
#pipreqs==0.4.11
#playsound==1.2.2
#ppqi==1.0.4
#pycocotools==2.0.2
#pydes==2.0.1
#pyecharts==1.9.0
#pyhook==1.5.1
#pyinstaller==4.6
#pymouse==1.0
#pymysql==1.0.2
#pyopenssl==20.0.1
#pypinyin==0.43.0
#pyqt5-qt==5.15.2
#pyqt5-tools==5.15.4.3.2
#pysocks==1.7.1
#python-interface==1.6.1
#python-ldap==3.3.1
#python-memcached==1.59
#python-mpc==0.1.1
#pyttsx3==2.90
#pyuserinput==0.1.10
#qcqp==0.8.3
#qpt==1.0b2.dev8
#qtawesome==1.1.0
#regex==2021.4.4
#rlschool==1.0.2
#rocketqa==1.0.0
#senta==2.0.0
#snapshot-phantomjs==0.0.3
#snapshot-selenium==0.0.2
#sympy==1.9
#taichi==0.7.31
#taichi-three==0.0.5
#terminaltables==3.1.0
#threadpoolctl==2.1.0
#toolz==0.11.2
#tyadmin-api-cli==0.8.1
#typeguard==2.12.0
#ujson==4.2.0
#wechaty-plugin-contrib==0.0.5
#win-inet-pton==1.1.0
#xlrd==2.0.1
#xpinyin==0.7.6
#yapf==0.26.0
#Pillow==8.3.0

# ----------------------Ignored sub dependent packages---------------------

# -----Dependencies of yarg
#requests

# -----Dependencies of wordcloud
#numpy>=1.6.1
#matplotlib
#pillow

# -----Dependencies of pyqt5
#pyqt5-qt5>=5.15
#pyqt5-sip<13,>=12.8

# -----Dependencies of ppgan
#numba==0.48
#pyyaml>=5.1
#easydict
#scipy>=1.1.0
#librosa==0.7.0
#scikit-image>=0.14.0
#imageio-ffmpeg
#opencv-python
#munch
#tqdm
